* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

#canvas {
    border-radius: 3px;
}

.canvas_container {
    flex: 1;
}

#resetButton {
    align-self: flex-start;
    margin-bottom: 1rem;
}